[alias]
	co = checkout
	cl = clone
	st = status
	br = branch
	pl = pull
	ci = commit
	df = diff
[gitreview]
	username = huan.jin
[user]
	email = crazyscar@gmail.com
	name = Huan Jin
[color]
	ui = true
[push]
	default = simple
